p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  body {
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(255, 255, 255);
  }

  .big-text {
    font-size: xx-large;
  }

  .username {
    font-size: 34px;
    height: 75px;
    width: 300px;
  }
  .password {
    font-size: 34px;
    height: 75px;
    width: 300px;
  }

  .medium-text {
    font-size: x-large;
  }

 